.ProductCard {
    width: 250px;
    height: 500px;
    border-radius: 15px;

    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.ProductCard .Preview {
    width: 100%;
    height: 60%;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 15px 0 0;
}

.ProductCard .Info {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.ProductCard .Info .PriceSection {
    width: 100%;
    height: 30%;
    display: flex;
    gap: 30px;
}

.ProductCard .Info .PriceSection h3 {
    text-indent: 15px;
    text-overflow: ellipsis;
}

.ProductCard .Info .PriceSection h5 {
    text-decoration: line-through;
    color: var(--text-muted);
}

.ProductCard .Info .Title {
    width: 100%;
}

.ProductCard .Info .Title p{
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    text-indent: 12px;
    font-size: 0.9rem;
}

.ProductCard .Info .Reviews{
    text-indent: 10px;
    font-size: 0.8rem;
}

.ProductCard button {
    width: 98%;
    height: 10%;

    border-radius: 15px;

    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--text);
    background-color: var(--primary);

    border: none;
}

.ProductCard button:hover {
    background-color: var(--primary-light);
}

.ProductCard button:active {
    background-color: var(--primary-dark);
    transform: scale(0.95);
}

.ProductCard:hover .FavouriteButton {
    opacity: 1;
}

.ProductCard .FavouriteButton {
    width: 25px;
    height: 25px;

    border-radius: 25px;

    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--text);
    background-color: var(--primary);

    border: none;

    opacity: 0;

    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 30px;

    transition: 0.1s ease-in-out;
}

.ProductCard .FavouriteButton:hover {
    background-color: var(--primary-light);
}

.ProductCard .FavouriteButton:active {
    background-color: var(--primary-dark);
    transform: scale(0.95);
}


/*  */
.ProductCard:hover .UnfavouriteButton {
    opacity: 1;
}

.ProductCard .UnfavouriteButton {
    width: 25px;
    height: 25px;

    border-radius: 25px;

    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--text);
    background-color: var(--primary);

    border: none;

    opacity: 0;

    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 30px;

    transition: 0.1s ease-in-out;
}

.ProductCard .UnfavouriteButton:hover {
    background-color: var(--primary-light);
}

.ProductCard .UnfavouriteButton:active {
    background-color: var(--primary-dark);
    transform: scale(0.95);
}

@media (pointer: coarse){
    .ProductCard .UnfavouriteButton,
    .ProductCard .FavouriteButton {
        opacity: 1;
    }
}