.FavouritesPage {
    width: 90%;
}

.FavouritesPage h2 {
    text-align: center;
}

.Container {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    row-gap: 35px;
    justify-content: space-between;
}

.FavouritesPage .EmptyFavouritesContainer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    opacity: 0.04;
}

@media (max-width: 1170px){
    .Container {
        justify-content: space-evenly;
    }
}